/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# ⚠️ Ne pas ignorer le dossier build de Vite en production !
# /public/build ← supprimé pour que les assets Vite soient push sur Git

/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
# Ajoute ces lignes pour éviter de pousser tes volumes locaux :
docker-compose.override.yml
app_storage/
app_cache/
db_data/

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
